<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>582419155771-5r7hb49ntqq19aoc17ghmd1j3c5b52ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582419155771-5r7hb49ntqq19aoc17ghmd1j3c5b52ha</string>
	<key>API_KEY</key>
	<string>AIzaSyD81s6vbwtFJ6T2qxniYGm_6rJ8t-MNTHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582419155771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eins.track</string>
	<key>PROJECT_ID</key>
	<string>einstracking-179317</string>
	<key>STORAGE_BUCKET</key>
	<string>einstracking-179317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:582419155771:ios:8412b49164058658</string>
	<key>DATABASE_URL</key>
	<string>https://einstracking-179317.firebaseio.com</string>
</dict>
</plist>